*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color: rgb(228, 226, 226);
    --table-border-color: rgba(109, 109, 109, 0.527);
    --blue-border: rgb(43, 74, 255);
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    text-align: center;
    padding: 20px 0;
    min-height: 100vh;
}

h1 {
    margin: 2% auto 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    margin: 30px auto 0 auto;
    width: 500px;
    border: 1px solid var(--blue-border);
    border-radius: 20px;
    padding: 10px 0;
    min-height: 75vh;
}

label {
    margin-top: 20px;
    font-size: 20px;
}

input {
    margin: 10px auto 15px auto;
    width: 50%;
    text-align: center;
    border-radius: 7px;
    font-size: 20px;
    background-color: rgb(228, 226, 226);
}

button {
    padding: 5px;
    margin: 0 auto 20px auto;
    border-radius: 7px;
}

.mid-section {
    margin: auto;
    background: radial-gradient(rgb(22, 22, 22), black);
    padding: 20px 15px 30px 15px;
    border: 1px solid var(--blue-border);
    border-radius: 10px;
    width: 75%;
}

.top-details {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#sprite {
    width: 200px;
}

#types {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.types-div {
    padding: 2px 7px;
    color: black;
    border-radius: 5px;
    border: 1px solid white;
}

.grass {
    background: radial-gradient(rgb(32, 253, 3), rgb(115, 253, 96));
}

.poison {
    background: radial-gradient(rgb(111, 2, 214), rgb(111, 2, 214));
    color: white;
}

.fire {
    background: radial-gradient(rgb(232, 245, 55), rgb(247, 144, 144));
}

.water {
    background: radial-gradient(rgb(2, 49, 255), rgb(2, 49, 255));
    color: white;
}

.bug {
    background: radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    color: white;
}

.normal {
    background: radial-gradient(rgb(223, 222, 222), rgb(223, 222, 222));
}

.electric {
    background: radial-gradient(rgb(250, 248, 120), rgb(250, 248, 120));
}

/* LEFT OFF HERE */

.ground {
    background: radial-gradient(rgb(232, 245, 55), rgb(247, 144, 144));
}

.fairy {
    background: radial-gradient(rgb(232, 245, 55), rgb(247, 144, 144));
}

.fighting {
    background: radial-gradient(rgb(232, 245, 55), rgb(247, 144, 144));
}

.psychic {
    background: radial-gradient(rgb(232, 245, 55), rgb(247, 144, 144));
}

.rock {
    background: radial-gradient(rgb(232, 245, 55), rgb(247, 144, 144));
}

.steel {
    background: radial-gradient(rgb(232, 245, 55), rgb(247, 144, 144));
}

.ice {
    background: radial-gradient(rgb(232, 245, 55), rgb(247, 144, 144));
}

.ghost {
    background: radial-gradient(rgb(255, 255, 255), rgb(231, 231, 231));
}

.dragon {
    background: radial-gradient(rgb(232, 245, 55), rgb(247, 144, 144));
}

.dark {
    background: radial-gradient(rgb(232, 245, 55), rgb(247, 144, 144));
}


.bottom-section {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 30px;
}

.table {
    width: 80%;
    border: 1px solid var(--blue-border);
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 30px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
}

th {
    padding: 12px;
    border: 1px solid var(--table-border-color);
    font-size: 1.3rem;
}

.th-left {
    border-radius: 10px 0 0 0;
}

.th-right {
    border-radius: 0 10px 0 0;
}

.td-bottom-left {
    border-radius: 0 0 0 10px;
}

.td-bottom-right {
    border-radius: 0 0 10px 0;
}

td {
    padding: 8px;
    border: 1px solid var(--table-border-color);
}


@media (max-width: 700px) {

    main {
        width: 85%;
        padding: 0 10px;
        margin-top: 20px;
        min-height: 75vh;
    }

    .mid-section {
        width: 60%;
        font-size: .9rem;
    }

    #types {
        column-gap: 50px;
    }

    #sprite {
        width: 120px;
    }

    .table {
        font-size: .7rem;
    }

    th {
        font-size: .9rem;
    }
    
}

@media (max-width: 430px) {

    body {
        padding-top: 0;
    }

    h1 {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    label {
        font-size: 15px;
    }

    input {
        font-size: 15px;
    }

    .mid-section {
        width: 80%;
        font-size: .7rem;
    }

    #types {
        column-gap: 30px;
        margin-bottom: 20px;
    }

    #sprite {
        width: 100px;
    }
}

@media (max-height: 800px) and (max-width: 1300px) {

    h1 {
        margin-top: 0;
    }

    main {
        width: 800px;
    }

    .short-wide-screen {
        display: flex;
        justify-content: center;
        margin: 20px 20px;
        column-gap: 20px;
    }

    .mid-section {
        margin: 0;
        width: 45%;
    }

    .bottom-section {
        justify-content: flex-end;
        width: 45%;
        margin: 0;
    }

    .table {
        width: 100%;
        margin: 0;
    }
}